In [1]:
import pandas as pd

In [6]:
training=pd.read_excel('../traning_data.xlsx')
training.head()

   Population  Stores
0       54571       6
1      182265      24
2       27457       5
3       22915       6
4       57322       6

In [12]:
# List sheetnames in excel file from USDA
xl = pd.ExcelFile('DataDownload.xls')
xl.sheet_names  # see all sheet names

['Read_Me',
 'Variable List',
 'Supplemental Data - County',
 'Supplemental Data - State',
 'ACCESS',
 'STORES',
 'RESTAURANTS',
 'ASSISTANCE',
 'INSECURITY',
 'PRICES_TAXES',
 'LOCAL',
 'HEALTH',
 'SOCIOECONOMIC']

In [18]:
# Read in county-level data
counties=pd.read_excel('DataDownload.xls', sheet_name='STORES')
counties.head()

,FIPS,State,County,GROC09,GROC14,PCH_GROC_09_14,GROCPTH09,GROCPTH14,PCH_GROCPTH_09_14,SUPERC09,...,PCH_SNAPS_12_16,SNAPSPTH12,SNAPSPTH16,PCH_SNAPSPTH_12_16,WICS08,WICS12,PCH_WICS_08_12,WICSPTH08,WICSPTH12,PCH_WICSPTH_08_12
0,1001,AL,Autauga,6,4,-33.333333,0.110834,0.072209,-34.849716,1,...,12.694878,0.674004,0.760911,12.894172,6,5,-16.66667,0.119156,0.090067,-24.412460
1,1003,AL,Baldwin,24,29,20.833333,0.133775,0.144920,8.331001,6,...,43.192771,0.725055,0.949753,30.990390,25,27,8.00000,0.141875,0.141517,-0.252126
2,1005,AL,Barbour,5,5,0.000000,0.180786,0.185963,2.863838,0,...,0.956938,1.280590,1.354387,5.762745,6,7,16.66667,0.201099,0.257344,27.968330
3,1007,AL,Bibb,6,5,-16.666667,0.261540,0.222163,-15.055985,1,...,20.512821,0.719122,0.864874,20.267995,6,5,-16.66667,0.277919,0.221268,-20.383970
4,1009,AL,Blount,6,6,0.000000,0.104637,0.103952,-0.654897,1,...,23.903509,0.657144,0.815946,24.165470,10,6,-40.00000,0.173028,0.103760,-40.033200

In [19]:
counties.columns

Index(['FIPS', 'State', 'County', 'GROC09', 'GROC14', 'PCH_GROC_09_14',
       'GROCPTH09', 'GROCPTH14', 'PCH_GROCPTH_09_14', 'SUPERC09', 'SUPERC14',
       'PCH_SUPERC_09_14', 'SUPERCPTH09', 'SUPERCPTH14', 'PCH_SUPERCPTH_09_14',
       'CONVS09', 'CONVS14', 'PCH_CONVS_09_14', 'CONVSPTH09', 'CONVSPTH14',
       'PCH_CONVSPTH_09_14', 'SPECS09', 'SPECS14', 'PCH_SPECS_09_14',
       'SPECSPTH09', 'SPECSPTH14', 'PCH_SPECSPTH_09_14', 'SNAPS12', 'SNAPS16',
       'PCH_SNAPS_12_16', 'SNAPSPTH12', 'SNAPSPTH16', 'PCH_SNAPSPTH_12_16',
       'WICS08', 'WICS12', 'PCH_WICS_08_12', 'WICSPTH08', 'WICSPTH12',
       'PCH_WICSPTH_08_12'],
      dtype='object')